div {
  .main {
    width: 500px;
    aspect-ratio: 16 / 9;
    background: linear-gradient(45deg, rgb(25, 25, 25), rgb(184, 184, 172));
    border-radius: 20px;
    transition: all 0.4s ease;
  }
}

div {
  .top-main {
    position: relative;
    top: 0;
    width: 500px;
    aspect-ratio: 16 / 9;
    opacity: 0.2;
    filter: grayscale(0.75);
    background: url("./assets/matrix.jpg");
    border-radius: 20px;
    transition: all 0.3s ease;
    .image {
      background: url("./assets/frog.png") no-repeat;
      height: 260px;
      width: 280px;
      background-size: contain;
      left: 0;
      display: flex;
      flex-direction: column;
      h1 {
        margin-left: 300px;
        color: white;
        text-shadow: 4px 4px 8px black;
      }
      p {
        margin-left: 300px;
        color: white;
        text-shadow: 4px 4px 8px black;
        width: 100px;
      }
    }
  }
}

div.main:hover {
  background: linear-gradient(45deg, rgb(19, 124, 108), rgb(184, 184, 172));
  border-radius: 20px;
}
div.top-main:hover {
  transform: scale(0.9);
  opacity: 0.8;
}
